@inherits LayoutComponentBase
@implements IDisposable

<FluentHeader Height="60">
    <FluentButton Color="Color.Custom" OnClick="() => { Expanded = !Expanded; }" CustomColor="#fff" IconStart="@(new Icons.Regular.Size24.Navigation())">
    </FluentButton>
    <FluentLabel Typo="Typography.H4" Class="">
        <span style="color:white;margin-left: 15px;">Hospital Management System</span>
    </FluentLabel>
    <FluentSpacer />
</FluentHeader>
<FluentStack Orientation="Orientation.Horizontal" Width="100%">
    @if (Expanded)
    {
        @* <FluentNavMenu @bind-Expanded="@Expanded" Width="300">
    <FluentNavGroup Expanded="true" Title="General Setup" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
    <FluentNavLink Href="disease" Icon="@(new Icons.Regular.Size24.LeafOne())">Disease</FluentNavLink>
    <FluentNavLink Href="room" Icon="@(new Icons.Regular.Size24.LeafOne())">Room</FluentNavLink>
    <FluentNavLink Href="doctor-specialist-role" Icon="@(new Icons.Regular.Size24.LeafOne())">Doctor Specialist Role</FluentNavLink>
    <FluentNavLink Href="patient" Icon="@(new Icons.Regular.Size24.LeafOne())">Patient</FluentNavLink>
    </FluentNavGroup>
    </FluentNavMenu> *@
        <FluentNavMenu @bind-Expanded="@Expanded" Width="300">
            <FluentNavGroup Expanded="true" Title="Doctor" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                <FluentNavLink Href="" Icon="@(new Icons.Regular.Size24.LeafOne())">Doctor List</FluentNavLink>
                <FluentNavLink Href="doctor/manage" Icon="@(new Icons.Regular.Size24.LeafOne())">Manage</FluentNavLink>
                <FluentNavLink Href="doctor/specialist" Icon="@(new Icons.Regular.Size24.LeafOne())">Specialist</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Expanded="true" Title="Patient" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                <FluentNavLink Href="patient" Icon="@(new Icons.Regular.Size24.LeafOne())">Patient List</FluentNavLink>
                <FluentNavLink Href="" Icon="@(new Icons.Regular.Size24.LeafOne())">Medical Record</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Expanded="true" Title="Appointment" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                <FluentNavLink Href="" Icon="@(new Icons.Regular.Size24.LeafOne())">Appointment List</FluentNavLink>
                <FluentNavLink Href="" Icon="@(new Icons.Regular.Size24.LeafOne())">New Appointment</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Expanded="true" Title="General Setup" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                <FluentNavLink Href="disease" Icon="@(new Icons.Regular.Size24.LeafOne())">Disease</FluentNavLink>
                <FluentNavLink Href="room" Icon="@(new Icons.Regular.Size24.LeafOne())">Room</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    }
    <FluentBodyContent Style="padding: 20px;">
        @Body
    </FluentBodyContent>
</FluentStack>

<FluentOverlay @bind-Visible=@Loading.IsEnable
               PreventScroll=true
               Dismissable=false
               Opacity="0.4"
               Alignment="@Align.Center"
               Justification="@JustifyContent.Center">
    <FluentProgressRing />
</FluentOverlay>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

@code
{
    bool Expanded = true;

    protected override void OnInitialized()
    {
        Loading.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Loading.OnChange -= StateHasChanged;
    }
}

